set(BEAST_PROJECT_NAME {project_name})
set(BEAST_VERSION_MAJOR {project_version_major})
set(BEAST_VERSION_MINOR {project_version_minor})
set(BEAST_VERSION_PATCH {project_version_patch})

set(BEAST_LIB_TARGET_NAME {lib_target_name})
set(BEAST_EXE_TARGET_NAME {exe_target_name})